.heading {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 100;
  margin: 20px;
}
.input-box {
  display: flex;
  justify-content: space-around;
 width: 80%;
 margin: auto;
}
.input {
  padding: 12px;
  width: 33%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  font-size: 16px;
}

.input-box select {
  width: 33%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

.input-box select > option {
  background-color: rgba(15, 15, 15, 0.801);
}


