@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{
    background-color: #b7c1ac;
}
.heading{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
  
}
.form{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
}
.search{
    width: 250px;
    height: 30px;
    padding: 7px;
   font-size: 20px;
   border: none;
   outline: none;
   
   background-color: lightgray;
   border-radius: 5px;
   font-family: 'Lora', serif;

}
.submit{
    width: 90px;
    border: none;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Lora', serif;
}
.wordInfo{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: 'Lora', serif;

}
.wordInfo *{
    margin: 10px;
}
.word{
    display: flex;
    justify-content: center;
    align-items: center;
}
.speech{
    display: flex;
    justify-content: center;
    align-items: center;
}
.definition{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.word p{
    font-size: 25px;
}
.speech p{
    font-size: 25px;
} 
.synonyms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.synonyms p{
    font-size: 25px;
}
.definition p{
    font-size: 25px;
}